:root {
  /* Global color variables */
  // saturated glows
  --glow-color: hsl(271.14, 100%, 84.51%);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: hsl(270.61, 100%, 90.39%);
  --link-color: rgb(100, 61, 136);

  // just light
  --light-soft: hsl(270.61, 100%, 80.39%,20%);

  //palette
  --white-1:hsl(350,10%,80%);
  --white-2:hsl(260,15%,76%);


}

H1{
  //color:hsl(40,100,50);
  color:var(--white-2);
  text-decoration: none;
}

div{
  color:var(--white-1);
}
