@import "blog";
@import "buttons";
@import "globals";
@import "navbar";
@import "spacers";




body {
  background-color: hsl(270, 15%, 5%); // Purple hue with lower saturation and darker shade
  font-family: sans-serif;
  text-align: center;
  padding-top: 4em;
  margin: 0;
}

::selection {
  color: hsl(124,50%,10%,100%);;
  background: hsl(271.14, 100%, 84.51%);
}




