@use "variables" as *;

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .portfolio-list-categories {
    justify-content: center;
  }

  .posts-wrapper {
    grid-template-columns: 1fr;
  }
}
